<link rel="stylesheet" href="mode_editor.css"></link>
<link rel="stylesheet" href="../divButton/divButton.css"></link>
<div class="modeEditorView">
    {{> mode-editor/src/components/modeEditorView/mode-editor}}
</div>