.divButton {
  box-shadow: none;
  text-shadow: none;
  background-color: white;

  border-style: solid;
  border-color: black;
  border-radius: 15px;

  font-family: sans-serif;
  font-weight: bold;

  height: fit-content;
}

.divButton:hover {
  background-color: rgb(238, 235, 235);
}
.divButton:disabled:hover {
  background-color: white;
}
