<link rel="stylesheet" href="mode_list.css"></link>
<link rel="stylesheet" href="../divButton/divButton.css"></link>
<div class="modeListView">
    {{> mode-editor/src/components/modeListView/mode-list}}
</div>