<div class="modeListTable">
    {{#each data}}
    {{#if name}}
    <div class="modeListEntryWrapper" style="order:1">
        <button class="divButton modeListEntry" value="{{name}}">
            {{name}}
        </button>
    </div>
    {{else}}
    <div class="modeListEntryWrapper" style="order:0">
        <button class="divButton modeListEntry" value="{{name}}">
            [DEFAULT]
        </button>
    </div>
    {{/if}}
    {{/each}}
</div>

<div class="finishRow">
    <button class="divButton finishButton addButton">Add</button>
    {{#if showCancel}}
    <button class="divButton finishButton cancelButton">Cancel</button>
    {{/if}}
</div>