<link rel="stylesheet" href="command_editor.css"></link>
<link rel="stylesheet" href="../divButton/divButton.css"></link>
<div class="commandEditorView">
    {{> mode-editor/src/components/commandEditorView/command-editor}}
</div>